.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.centerbot {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}
.topright {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 18px;
}

.bottomleft {
    position: absolute;
    bottom: 35px;
    left: 30px;
    font-size: 18px;
}

.topleft {
    position: absolute;
    top: -25px;
    left: 15px;
    font-size: 18px;
}
.topleft2 {
    position: absolute;
    top: -10px;
    left: 50px;
    font-size: 18px;
}
.topleft3 {
    position: absolute;
    top: 35px;
    left: 50px;
    font-size: 18px;
}
/*-------------------------------*/
.buttonedit {
    background-color: #999; /* Green */
    border: none;
    color: white;
    padding-left: 5px;
    opacity:0.5;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.buttonedit2 {
  opacity:0.5;
    background-color: #999; /* Green */
    border: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
display: inline-block;
}
