.imgcut{
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
}
.circleborder {
width: 25px;
height: 25px;
border-radius: 150px;
-webkit-border-radius: 150px;
-moz-border-radius: 150px;
background: url(URL) no-repeat;
box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.shadow {
  -webkit-box-shadow: 0px 3px 30px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 30px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 30px 1px rgba(0,0,0,0.75);
}
/*---------------------------------------------------------------------------*/
.buttonedit:hover {
    background-color: #fff;
    color: #999;
}

.buttonGO {
display: inline-block;
border-radius: 50%;
background-color:Transparent;
border: none;
color: #0a0a0a;
text-align: center;
font-size: 28px;
padding: 20px;
width: 200px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.buttonGO span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button1 span:after {
content: 'site';
position: absolute;
opacity: 0;
top: 30px;
right: 0;
left: 0;
transition: 0.7s;
}
.button2 span:after {
content: 'file';
position: absolute;
opacity: 0;
top: 30px;
right: 0;
left: 0;
transition: 0.7s;
}
.button3 span:after {
content: 'photo';
position: absolute;
opacity: 0;
top: 30px;
right: 0;
left: 0;
transition: 0.7s;
}

.buttonGO:hover span {
padding-bottom: 50px;
}

.buttonGO:hover span:after {
opacity: 10;
top: 110px;
}
